<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="shortcut icon"
      href="../static/img/yconepng.png"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <title>Adilson Yango Muieba</title>
  </head>
  <body>
    <i class="bi bi-list menu-mobile m-3"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/profile.jpg" alt="foto do Yango" />
        <h1>Adilson Muieba</h1>
        <div class="social-links mt-4 text-center">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/adilson-muieba-270b15227/"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a target="_blank" href="https://github.com/y-jr"
            ><i class="bi bi-github"></i
          ></a>
          <a target="_blank" href="https://www.facebook.com/adilson.pedro.1694"
            ><i class="bi bi-facebook"></i
          ></a>
          <a target="_blank" href="https://www.instagram.com/yangomuieba/"
            ><i class="bi bi-instagram"></i
          ></a>
        </div>
      </section>
      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#inicio">
              <i class="bi bi-house" aria-hidden="true"></i> Início
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre">
              <i class="bi bi-person" aria-hidden="true"></i> Sobre
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades">
              <i class="bi bi-list-check" aria-hidden="true"></i> Habilidades
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curriculo">
              <i class="bi bi-file-earmark" aria-hidden="true"></i> Currículo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portifolio">
              <i class="bi bi-collection" aria-hidden="true"></i> Portifólio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">
              <i class="bi bi-envelope" aria-hidden="true"></i> Contacto
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-7 d-flex flex-column justify-content-center align-items-center"
        >
          <h2 class="text-white text-shadow">Adilson Muieba</h2>
          <span id="subtitle" class="text-white text-shadow text-center"
            >Técnico de telecomunicações, Programador, Professor</span
          >
        </div>
        <div
          class="col-md-5 d-flex flex-column justify-content-end align-items-end"
        >
          <div id="arraste" class="d-flex align-items-center">
            <i
              class="bi bi-arrow-down text-white pe-2 fs-2"
              aria-hidden="true"
            ></i>
            <a href="#sobre">Arraste para mais</a>
          </div>
        </div>
      </section>

      <section id="sobre" class="container mt-5 my-container">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">Sobre</h2>
            <p>
              Olá, meu nome é Adilson Muieba e sou um estudante de engenharia de
              telecomunicações apaixonado por telecomunicações e programação.
              Além disso, trabalho como técnico de telecomunicações e dou aulas
              de programação e matemática nas horas vagas. Meu portfólio inclui
              projetos em que trabalhei durante minha formação média e também
              algumas iniciativas pessoais que demonstram minhas habilidades e
              paixão pela área. Espero que gostem do que verão e fico à
              disposição para qualquer esclarecimento ou oportunidade de
              colaboração. Obrigado pela visita!
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 d-none d-md-block">
            <img
              id="img"
              class="img-fluid shadow"
              src="../static/img/profile2.jpg"
              alt="foto do Adilson"
              data-anime="left"
            />
          </div>
          <hr class="d-md-none separador" />
          <div class="col-md-8" data-anime="right">
            <div class="row mb-3">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Nascido: <span class="fw-lighter">12 de junho de 2001</span>
                  </li>
                  <li class="list-group-item">
                    Idade: <span class="fw-lighter">23 anos</span>
                  </li>
                  <li class="list-group-item">
                    Morada: <span class="fw-lighter">Bairro Km9/A - Viana</span>
                  </li>
                  <li class="list-group-item">
                    Província: <span class="fw-lighter">Luanda</span>
                  </li>
                  <li class="list-group-item">
                    Hobby: <span class="fw-lighter">Futebol e leitura</span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <hr class="d-md-none separador" />
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    <b>Experiências de trabalho</b>
                  </li>
                  <li class="list-group-item">
                    <span class="fw-lighter"
                      ><a
                        id="linkSobre"
                        href="https://www.facebook.com/complexoescolarfendadatundavala/"
                        target="_blank"
                        >Fenda da Tundavala
                      </a>
                      <i
                        id="seta1"
                        class="bi bi-chevron-right m-1 seta d-none d-md-inline"
                      ></i>
                      <ul class="sublist1 d-none">
                        <li class="sublist-group-item">
                          Cargo: <span class="fw-lighter">Professor</span>
                        </li>
                        <li class="sublist-group-item">
                          Experiência: <span class="fw-lighter">3 anos</span>
                        </li>
                        <li class="sublist-group-item">
                          Descrição:
                          <p>
                            Lecionar matemática, Geometria Descritiva e
                            monitorar projetos de informática
                          </p>
                        </li>
                      </ul>
                    </span>
                  </li>

                  <li class="list-group-item">
                    <span class="fw-lighter"
                      ><a
                        id="linkSobre"
                        href="https://www.facebook.com/complexoescolarfendadatundavala/"
                        target="_blank"
                        >Luso Prime
                      </a>
                      <i
                        id="seta2"
                        class="bi bi-chevron-right m-1 seta d-none d-md-inline"
                      ></i>
                      <ul class="sublist2 d-none">
                        <li class="sublist-group-item">
                          Cargo:
                          <span class="fw-lighter"
                            >Técnico de comunicação via rádio</span
                          >
                        </li>
                        <li class="sublist-group-item">
                          Experiência: <span class="fw-lighter">1 ano</span>
                        </li>
                        <li class="sublist-group-item">
                          Descrição:
                          <p>
                            Estabelecer, manter e reparar comunicação via rádio
                            a longas distâncias entre um ISP e os seus
                            respectivos clientes
                          </p>
                        </li>
                      </ul>
                    </span>
                  </li>

                  <li class="list-group-item">
                    <span class="fw-lighter"
                      ><a
                        id="linkSobre"
                        href="https://www.facebook.com/complexoescolarfendadatundavala/"
                        target="_blank"
                        >SYYT
                      </a>
                      <i
                        id="seta3"
                        class="bi bi-chevron-right m-1 seta d-none d-md-inline"
                      ></i>
                      <ul class="sublist3 d-none">
                        <li class="sublist-group-item">
                          Cargo:
                          <span class="fw-lighter">CEO, Programador</span>
                        </li>
                        <li class="sublist-group-item">
                          Experiência: <span class="fw-lighter">4 anos</span>
                        </li>
                        <li class="sublist-group-item">
                          Descrição:
                          <p>
                            Desenvolver uma startup de tecnoliga de educação
                          </p>
                        </li>
                      </ul>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div id="cite" class="w-100 d-none d-md-block">
              <q>A criatividade é a inteligência se divertindo </q>
              <br />
              <span>Alber Einstein</span>
            </div>
          </div>
          <hr class="d-md-none separador" />
        </div>
      </section>

      <section id="habilidades" class="mt-5 section-bg">
        <div class="my-container container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
            quidem perferendis doloremque, quasi, eaque laudantium accusamus qui
            commodi veniam vel unde. Consequuntur.
          </p>

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Redes</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 60%">
                  60%
                </div>
              </div>

              <p class="mt-3 mb-0">Comunicação VSAT</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 40%">
                  40%
                </div>
              </div>

              <p class="mt-3 mb-0">Fibras ópticas</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 70%">
                  70%
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">Operação de GPS</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 70%">
                  70%
                </div>
              </div>

              <p class="mt-3 mb-0">CCTV</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 30%">
                  30%
                </div>
              </div>

              <p class="mt-3 mb-0">Eletrônica</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 70%">
                  70%
                </div>
              </div>
            </div>
          </div>

          <hr class="w-50 m-auto mt-3 separador" />

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 90%">
                  90%
                </div>
              </div>

              <p class="mt-3 mb-0">CSS</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 70%">
                  70%
                </div>
              </div>

              <p class="mt-3 mb-0">JavaScript</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 70%">
                  70%
                </div>
              </div>

              <p class="mt-3 mb-0">PHP</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 50%">
                  50%
                </div>
              </div>

              <p class="mt-3 mb-0">Git</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 70%">
                  70%
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">ReactJs</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 70%">
                  70%
                </div>
              </div>

              <p class="mt-3 mb-0">ElectronJs</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 50%">
                  50%
                </div>
              </div>

              <p class="mt-3 mb-0">Laravel</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 50%">
                  50%
                </div>
              </div>

              <p class="mt-3 mb-0">.NET</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 60%">
                  60%
                </div>
              </div>

              <p class="mt-3 mb-0">SQL</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 90%">
                  90%
                </div>
              </div>
            </div>
          </div>

          <hr class="w-50 m-auto mt-3 separador" />

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Photoshop</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar"
                  data-anime="left"
                  data-anime="left"
                  style="width: 60%"
                >
                  60%
                </div>
              </div>

              <p class="mt-3 mb-0">Designer</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 60%">
                  60%
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">UI/UX</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 60%">
                  60%
                </div>
              </div>

              <p class="mt-3 mb-0">Figma</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" data-anime="left" style="width: 40%">
                  40%
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="curriculo" class="mt-5 cv">
        <div class="container my-container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>´
          <a href="/download/cv">
            <button class="btn-cv">Baixar</button>
          </a>
          <div class="row">
            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>
              <div class="cv-item" data-anime="up" data-anime="up">
                <h4>Eletrônica e telecomunicações</h4>
                <h5>2017-2021</h5>
                <p><em>Instituto Politécnico Privado Qinet - IPPQ</em></p>
                <p>
                  Formação média técnica voltada em instalação, reparação e
                  manutenção de aparelhos de redes de telecomunicações.
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Eng. de telecomunicações</h4>
                <h5>2021-Atual</h5>
                <p>
                  <em
                    >Instituto Superior para Tecnologias de Informação e
                    Comunicação</em
                  >
                </p>
                <p>
                  Curso superiorcom foco em redes de telecomunicações e
                  comunicações a distância por meios ópticos e por
                  rádiopropagação.
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Testes e emendas de Fibras ópticas</h4>
                <h5>12/2022-02/2023</h5>
                <p><em>INEFOR Corporate</em></p>
                <p>
                  Programa de dois meses com objetivo de capacitar os Estudantes a realizar testes e emendas de fibras ópticas em caixas de passagens e preparação de ODFs.
                </p>
              </div>
            </div>

            <div class="col-md-6">
              <h3 class="cv-title">Profissional</h3>
              <div class="cv-item" data-anime="up">
                <h4>Técnico de redes</h4>
                <h5>2023-Atual</h5>
                <p><em>Luso Prime</em></p>
                <p>
                  Realizar dimensionamento de rede, desenvolver projeto e
                  executar a montagem e configuração de antenas de comunicação
                  via rádio, routers e repetidores.
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Professor</h4>
                <h5>2022-Atual</h5>
                <p><em>Colégio Fenda da Tundavala</em></p>
                <p>
                  Lecionar matemática nos cursos médio de CFB e Contabilidade, e
                  TLP no curso médio de informática; além de trabalhar como
                  tutor de projetos de programação.
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Programador</h4>
                <h5>2020-2021</h5>
                <p><em>G-Tec</em></p>
                <p>
                  Projetar e desenvolver programas mobile e web sites usando
                  Tecnologias como Java, Web, PHP, Laravel, etc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="portifolio" class="section-bg mt-5">
        <div class="container my-container pb-5 pt-5" data-anime="left">
          <h2 class="pb-4">Portifólio</h2>

          <div id="carrousselPortifolio" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carrousselPortifolio"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carrousselPortifolio"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row row-cols-1 g-4">
                  <div class="col-12 col-md-4">
                    <div class="card">
                      <img
                        src="../static/img/portifolio.jpg"
                        class="card-img-top"
                        alt="Administração de redes"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Restruturação de rede</h5>
                        <p class="card-text">
                          Restruturação da rede central da empresa Luso Prime.
                        </p>

                        <div class="d-flex justify-content-center">
                          <a
                            target="_blank"
                            href="#"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card">
                      <img
                        src="../static/img/portifolio.jpg"
                        class="card-img-top"
                        alt="Administração de redes"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Restruturação de rede</h5>
                        <p class="card-text">
                          Restruturação da rede central da empresa Luso Prime.
                        </p>

                        <div class="d-flex justify-content-center">
                          <a
                            target="_blank"
                            href="#"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card">
                      <img
                        src="../static/img/portifolio.jpg"
                        class="card-img-top"
                        alt="Administração de redes"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Restruturação de rede</h5>
                        <p class="card-text">
                          Restruturação da rede central da empresa Luso Prime.
                        </p>

                        <div class="d-flex justify-content-center">
                          <a
                            target="_blank"
                            href="#"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-bs-interval="2000">
                <div class="row row-cols-1 g-4">
                  <div class="col-12 col-md-4">
                    <div class="card">
                      <img
                        src="../static/img/portifolio.jpg"
                        class="card-img-top"
                        alt="Administração de redes"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Restruturação de rede</h5>
                        <p class="card-text">
                          Restruturação da rede central da empresa Luso Prime.
                        </p>

                        <div class="d-flex justify-content-center">
                          <a
                            target="_blank"
                            href="#"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card">
                      <img
                        src="../static/img/portifolio.jpg"
                        class="card-img-top"
                        alt="Administração de redes"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Restruturação de rede</h5>
                        <p class="card-text">
                          Restruturação da rede central da empresa Luso Prime.
                        </p>

                        <div class="d-flex justify-content-center">
                          <a
                            target="_blank"
                            href="#"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card">
                      <img
                        src="../static/img/portifolio.jpg"
                        class="card-img-top"
                        alt="Administração de redes"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Restruturação de rede</h5>
                        <p class="card-text">
                          Restruturação da rede central da empresa Luso Prime.
                        </p>

                        <div class="d-flex justify-content-center">
                          <a
                            target="_blank"
                            href="#"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carrousselPortifolio"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carrousselPortifolio"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>

      <section id="contacto" class="pt-5 pb-5">
        <div class="container my-container mb-5">
          <h2 class="pt-3 pb-3">Contacto</h2>

          <div class="row">
            <div class="col-md-5">
              <div class="card p-5 shadow border-0" data-anime="up">
                <div class="endereco">
                  <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                  <p>Viana, Luanda</p>
                </div>

                <div class="email">
                  <h4><i class="bi bi-envelope"></i> Email:</h4>
                  <p>muiebaadilson@gmail.com</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1416.1586698827089!2d13.304946556969718!3d-8.905879278338135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-PT!2sao!4v1677279377454!5m2!1spt-PT!2sao"
                  width="400"
                  height="300"
                  style="border: 0"
                  allowfullscreen="false"
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                  class="w-100"
                ></iframe>
              </div>
            </div>

            <div class="col-md-7 mt-5 mt-md-0">
              <div class="card p-5 h-100 shadow border-0" data-anime="left">
                <form class="row g-3">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input
                      type="text"
                      class="form-control"
                      id="nome"
                      name="nome"
                      placeholder="Digite seu nome"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Digite seu email"
                    />
                  </div>
                  <div class="col-12">
                    <label for="mensagem" class="form-label">Mensagem:</label>
                    <textarea
                      class="form-control"
                      name="mensagem"
                      id="mensagem"
                      rows="10"
                      placeholder="Digite a sua mensagem"
                    ></textarea>
                  </div>
                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary">
                      Enviar mensagem
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
